html, body {
    margin-top: 0;
    height: 100%;
}

.maintext {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

label.btn {
    margin-bottom: 0;
}

#file-op-buttons {
    margin-bottom: 5px;
}

.form-inline .btn {
    margin-left: 10px;
}

.blur {
  -webkit-animation: blur 0.5s 1;
  filter: blur(10px);
  pointer-events: none;
}

@-webkit-keyframes blur {
  from { -webkit-filter: blur(0px); }
  to { -webkit-filter: blur(10px); }
}

#canvas-speed:disabled::-webkit-slider-thumb {
    background: gray;
}

.fileinput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#editor {
    display: block;
    height: 100%;
    font: 12px 'dejavu sans mono', menlo, monaco, monospace;
    border-radius: 10px;
}

#copy-page {
    visibility: hidden;
}

.tab-content, .nav-tabs {
    margin-top: 15px;
}

.tab-content {
    min-height: 200px;
}

.progress-bar {
    border-radius: 2px;
    height: 15px;
}


#gif-panel {
    min-height: 270px;
    transition: height 2s;
}

#gif-loading {
    height: 100%;
    width: 100%;
}

#gif-output {
    /* overflow-y: auto; */
    /* overflow-x: auto; */
}

#console-output {
    font-family: monospace;
    background-color: #202020;
    color: white;
    border-radius: 4px 4px 4px 4px;
    padding: 4px;
    overflow: auto;
    height: 300px;
}

.keyframe-remove {
    float: right;
}

div.form-group label {
    font-weight: bolder;
}

.ace_gutter-cell.ace_breakpoint{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
    background: LightCoral;
}

.current-line {
    background: LightCoral;
    position: absolute;
}
