html, body {
    margin-top: 0;
    height: 100%;
}

.maintext {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

label.btn {
    margin-bottom: 0;
}

.form-inline .btn {
    margin-left: 10px;
}

.fileinput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#editor {
    display: block;
    height: 100%;
    font: 12px 'dejavu sans mono', menlo, monaco, monospace;
    border-radius: 10px;
}

#copy-page {
    visibility: hidden;
}

.tab-content, .nav-tabs {
    margin-top: 15px;
}

.tab-content {
    min-height: 200px;
}

.progress-bar {
    border-radius: 2px;
    height: 15px;
}

#right-container {
    border: 1px black;
}

#gif-panel {
    min-height: 270px;
}

#gif-loading {
    height: 100%;
    width: 100%;
}

#gif-output {
    overflow-y: auto;
    overflow-x: auto;
}

#console-output {
    font-family: monospace;
    background-color: #202020;
    color: white;
    border-radius: 4px 4px 4px 4px;
    padding: 4px;
    overflow: auto;
    height: 300px;
}
