/*
Date: 07 Fev 2019
Author: Lyle Harlow 
*/

h1, h2, h3, h4, h5, h6, p, ul{
 color: black;
 font-family: arial;
 font-weight: normal;
 border: 0px solid #0000;
 padding: 0em .1em .1em .2em;
}
h1 {
	font-size: 300%;
	font-weight: bold;
	padding-left: 0em;
}
h2 {
	font-weight: normal;
	font-size: 250%;
	padding-left: .5em;
}
ul.h2 {
	list-style-position: outside;
	font-weight: normal;
	font-size: 200%;
    position: relative; 
	left: .5em;
	padding-left: 1em; 
}
h3 {
	font-weight: normal;
	font-size: 200%;
	padding-left: 1em;
}
ul.h3 {
	list-style-position: outside;
	font-weight: normal;
	font-size: 150%;
    position: relative; 
	left: 1.5em;
	padding-left: 1em; 
}
h4 {
	font-weight: normal;
	font-size: 150%;
	padding-left: 3em;
}
ul.h4 {
	list-style-position: outside;
	font-weight: normal;
	font-size: 150%;
    position: relative; 
	left: 3em;
	padding-left: 1em; 
}
h5 {
	font-weight: normal;
	font-size: 125%;
	padding-left: 5em;
}
ul.h5 {
	list-style-position: outside;
	font-weight: normal;
	font-size: 100%;
    position: relative; 
	left: 6em;
	padding-left: 1em; 
}
h6 {
	font-weight: bold;
	font-size: 100%;
	padding-left: 9em;
}
p {
	font-weight: normal;
	font-size: 100%;
	padding-left: .8em;
}